<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolapps.dailywater.target">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name="com.coolapps.dailywater.target.WalkThroughActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"/>
        <activity
            android:name="com.coolapps.dailywater.target.StatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name="com.coolapps.dailywater.target.InitUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.coolapps.dailywater.target.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.coolapps.dailywater.target.recievers.NotifierReceiver" />
        <receiver android:name="com.coolapps.dailywater.target.recievers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.coolapps.dailywater.target.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
